{% extends "main/layout.html" %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="features">
        <h1> Космос и просторы</h1>
        <p> Космос (древнегреческое: κόσμος, транслитерация: Kósmos — это альтернативное название Вселенной или её природы или порядка. Использование слова «космос» подразумевает рассмотрение Вселенной как сложной и упорядоченной системы или сущности.</p>
        <title>Переход по кнопке</title>
        <a href="https://en.wikipedia.org/wiki/Cosmos">
            <button>википедия</button>
        </a>
    </div>
{% endblock %}
